html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* INDEX HTML */
html { 
	overflow-x: hidden; 
	word-wrap: break-word;
}

a.icon {
	position: absolute;
	top: 0;
	right: 0;
	font-size: 40px;
}

#navMenu a:hover { background-color: rgba(0, 0, 0, 0.3); }

/* border */
.bor-rad { border-radius: 5px; }
.bor-rad-left { border-radius: 5px 0 0 5px; }
.bor-rad-right { border-radius: 0 5px 5px 0; }
.bor-top { border-top: 1px solid; }
.bor-bottom { border-bottom: 1px solid; }

/* display */
.d-none { display: none; }
.d-flex { display: flex; } 
.d-block { display: block; } 

.flex-between { justify-content: space-between; }
.flex-around { justify-content: space-around; }
.flex-center { justify-content: center; }
.flex-end { justify-content: end; }
.align-items-center { align-items: center; }
.align-items-top { align-items: start; }

/* width and height */
.w-10 { width: 10%; }
.w-25 { width: 25%; }
.w-50 { width: 50%; }
.w-75 { width: 75%; }
.w-100 { width: 100%; }

.h-25 { height: 25%; }
.h-50 { height: 50%; }
.h-75 { height: 75%; }
.h-100 { height: 100%; }

/* padding */
.p-1 { padding: 6px; }
.p-2 { padding: 12px; }
.p-3 { padding: 18px; }
.p-4 { padding: 24px; }

.p-top-1 { padding-top: 6px; }
.p-top-2 { padding-top: 12px; }
.p-top-3 { padding-top: 18px; }
.p-top-4 { padding-top: 24px; }

.p-left-1 { padding-left: 6px; }
.p-left-2 { padding-left: 12px; }
.p-left-3 { padding-left: 18px; }
.p-left-4 { padding-left: 24px; }

.p-right-1 { padding-right: 6px; }
.p-right-2 { padding-right: 12px; }
.p-right-3 { padding-right: 18px; }
.p-right-4 { padding-right: 24px; }

.p-bottom-1 { padding-bottom: 6px; }
.p-bottom-2 { padding-bottom: 12px; }
.p-bottom-3 { padding-bottom: 18px; }
.p-bottom-4 { padding-bottom: 24px; }

/* margin */
.m-1 { margin: 6px; }
.m-2 { margin: 12px; }
.m-3 { margin: 18px; }
.m-4 { margin: 24px; }

.m-top-1 { margin-top: 6px; }
.m-top-2 { margin-top: 12px; }
.m-top-3 { margin-top: 18px; }
.m-top-4 { margin-top: 24px; }

.m-left-1 { margin-left: 6px; }
.m-left-2 { margin-left: 12px; }
.m-left-3 { margin-left: 18px; }
.m-left-4 { margin-left: 24px; }

.m-right-1 { margin-right: 6px; }
.m-right-2 { margin-right: 12px; }
.m-right-3 { margin-right: 18px; }
.m-right-4 { margin-right: 24px; }

.m-bottom-1 { margin-bottom: 6px; }
.m-bottom-2 { margin-bottom: 12px; }
.m-bottom-3 { margin-bottom: 18px; }
.m-bottom-4 { margin-bottom: 24px; }

/* font and text */
.font-bold { font-weight: bold; }
.font-underline { text-decoration: underline; }
.text-deco-none { text-decoration: none; }

.font-size-1 { font-size: 20px; }
.font-size-2 { font-size: 24px; }
.font-size-3 { font-size: 28px; }
.font-size-4 { font-size: 32px; }

.color-white { color: white; }
.color-black { color: black; }

.text-center { text-align: center; }

/* background color */
.bg-blue { background-color: dodgerblue; }
.bg-wheat { background-color: wheat; }
.bg-green { background-color: mediumspringgreen; }

/* pointer */
.cursor-default { cursor: default; }

@media screen and (min-width: 601px) {
	.bor { border: 1px solid; }
}

@media screen and (max-width: 600px) {
	.bor-s { border: 1px solid; }
	.bor-none-s { border: 0; }
	.bor-bottom-s { border-bottom: 1px solid; }

	.d-block-s { display: block; }
	.d-none-s { display: none; }
	
	.w-s-25 { width: 25%; }
	.w-s-50 { width: 50%; }
	.w-s-75 { width: 75%; }
	.w-s-100 { width: 100%; }
	.w-s-125 { width: 125%; }

	.p-top-s-1 { padding-top: 6px; }
	.p-top-s-2 { padding-top: 12px; }
	.p-top-s-3 { padding-top: 18px; }
	.p-top-s-4 { padding-top: 24px; }
	
	.p-bottom-s-1 { padding-bottom: 6px; }
	.p-bottom-s-2 { padding-bottom: 12px; }
	.p-bottom-s-3 { padding-bottom: 18px; }
	.p-bottom-s-4 { padding-bottom: 24px; }

	.m-top-s-1 { margin-top: 12px; }
	.m-top-s-2 { margin-top: 24px; }
	.m-top-s-3 { margin-top: 36px; }
	.m-top-s-4 { margin-top: 48px; }
	
	.m-left-s-1 { margin-left: 12px; }
	.m-left-s-2 { margin-left: 24px; }
	.m-left-s-3 { margin-left: 36px; }
	.m-left-s-4 { margin-left: 48px; }

	.m-right-s-1 { margin-right: 12px; }
	.m-right-s-2 { margin-right: 24px; }
	.m-right-s-3 { margin-right: 36px; }
	.m-right-s-4 { margin-right: 48px; }
}